agm-map {
  height: 300px;
}

.btn-locate-me {
  display: block;
  background-color: #fff;
  border: 1px solid #9d9d9d;
  border-radius: 50%;
  box-shadow: 0px 3px 10px rgba(0,0,0,.3);
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  background-image: url('../../../assets/locate-icon-grey1.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  height: 25px;
  width: 25px;
}
