<div id="map-container">
<agm-map
  [latitude]="latitude"
  [longitude]="longitude"
  [backgroundColor]="config.backgroundColor"
  [disableDefaultUI]="config.disableDefaultUI"
  [disableDoubleClickZoom]="config.disableDoubleClickZoom"
  [draggableCursor]="config.draggableCursor"
  [draggingCursor]="config.draggingCursor"
  [fitBounds]="config.fitBounds"
  [fullscreenControl]="config.fullscreenControl"
  [fullscreenControlOptions]="config.fullscreenControlOptions"
  [gestureHandling]="config.gestureHandling"
  [keyboardShortcuts]="config.keyboardShortcuts"
  [draggable]="config.mapDraggable"
  [mapTypeControl]="config.mapTypeControl"
  [mapTypeControlOptions]="config.mapTypeControlOptions"
  [mapTypeId]="config.mapTypeId"
  [maxZoom]="config.maxZoom"
  [minZoom]="config.minZoom"
  [panControl]="config.panControl"
  [panControlOptions]="config.panControlOptions"
  [rotateControl]="config.rotateControl"
  [rotateControlOptions]="config.rotateControlOptions"
  [scaleControl]="config.scaleControl"
  [scaleControlOptions]="config.scaleControlOptions"
  [scrollwheel]="config.scrollwheel"
  [streetViewControl]="config.streetViewControl"
  [streetViewControlOptions]="config.streetViewControlOptions"
  [style]="config.styles"
  [usePanning]="config.usePanning"
  [zoom]="config.zoom"
  [zoomControl]="config.zoomControl"
  [zoomControlOptions]="config.zoomControlOptions"

  (boundsChange)="boundsChange.emit($event)"
  (centerChange)="centerChange.emit($event)"
  (idle)="idle.emit($event)"
  (mapClick)="mapClick.emit($event)"
  (mapDblClick)="mapDblClick.emit($event)"
  (mapReady)="onMapReady($event)"
  (mapRightClick)="mapRightClick.emit($event)"
  (zoomChange)="zoomChange.emit($event)" >


  <agm-marker
    [latitude]="markerLat"
    [longitude]="markerLng"
    (dragEnd)="dragEnd.emit($event)"
    (markerClick)="markerClick.emit($event)"
    (mouseOut)="mouseOut.emit($event)"
    [iconUrl]="markerIcon"
    (mouseOver)="mouseOver.emit($event)">
    <agm-info-window [isOpen]="false">
      <strong>InfoWindow content</strong>
    </agm-info-window>

  </agm-marker>
</agm-map>
<button class="btn-locate-me" id="btnLocateMe" (click)="findMe()">

</button>
</div>
